<div class="footer">
    <div class="footer-col">
        <b>Site Map</b>
        <br/>
        
        
    </div>
    <div class="footer-col">
        
    </div>
    <div class="footer-col">
        <b>Social</b>
        <br/>
        <a href="/">Facebook</a>
        <a href="/">Twitter</a>
        <a href="/">Instagram</a>
        <a href="/">Reddit</a>
    </div>
</div>

<style>

    .footer{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        gap: 50px;
        padding: 4rem 2rem;
        background-color: #F9EBC4;
    }

    .footer-col {
        display: flex;
        flex-direction: column;
    }
</style>