---

---

<section id="partners-and-organisers" class="container-lg">
    <div class="d-md-flex flex-md-equal w-100 pl-md-3">
       <div class="pt-3 overflow-hidden">
          <div class="py-3">
             <h4 class="display-5 section-title">Partners and Organisers</h4>
          </div>
<div>
            <p class="text-justify"><strong>Technical Partner:</strong>
&nbsp;The Rural Data Research and Analysis (RuDRA) Lab, IIT Bombay is India's first HPC-powered data center dedicated to Rural Development.</p>
            </div>

            <div class="container text-center my-3" style="height:100px;">
    
    <div id="recipeCarousel" class="carousel slide w-100" data-ride="carousel">
        <div class="carousel-inner w-100" role="listbox">
            <div class="carousel-item row no-gutters active">
                <div class="col-3 float-left"> <a href="http://iitb.ac.in/" target="_blank">
                  <img src="./public/images/img/iitb-logo.png"
                     class="img-fluid" alt="IITB" height="100px">
               </a></div>
                <div class="col-3 float-left"> <a href="https://fossee.in/" target="_blank">
                  <img
                     src="./public/images/img/fossee-logo.png"
                     class="img-fluid" alt="FOSSEE" height="100px">
               </a></div>
                <div class="col-3 float-left"> <a href="https://spoken-tutorial.org/" target="_blank">
                  <img src="./public/images/img/st-logo.png"
                     class="img-fluid" alt="Spoken Tutorial" width="30%">
               </a></div>
               <div class="col-3 float-left"><img class="img-fluid" alt="icfoss" src="./public/images/img/icfoss-logo.png" width="60%"></div>
            </div>



            <div class="carousel-item row no-gutters">
                <div class="col-3 float-left"><a href="http://www.rudra.iitb.ac.in/" target="_blank">
                  <img src="./public/images/img/rudra-logo.png"
                     class="img-fluid" alt="Rudra" width="32%">
               </a></div>
                <div class="col-3 float-left"> <a href="https://www.iittp.ac.in/" target="_blank">
                  <img
                     src="./public/images/img/iit-tirupati.png"
                     class="img-fluid" alt="IIT Tirupati" width="48%">
               </a></div>
                <div class="col-3 float-left"> <a href="https://iittnif.com/" target="_blank">
                  <img
                     src="./public/images/img/navavishkaar.png"
                     class="img-fluid" alt="IITTNiF" width="75%">
               </a></div>
<div class="col-3 float-left"> <a href="https://nmicps.in/" target="_blank">
<img src="./public/images/img/NM-ICPS-logo1.png" class="img-fluid" alt="NMICPS" width="25%">
   </a></div>

                <!--<div class="col-3 float-left"><img class="img-fluid" src="http://via.placeholder.com/350x280/bbb?text=8"></div>-->
            </div>
        </div>
        <a class="carousel-control-prev text-danger" href="#recipeCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#recipeCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
   
</div>

      
<div >
            <p class="text-justify">
      <strong>  Organizing Partner:</strong>
&nbsp;The IIT Tirupati Navavishkar I-Hub Foundation is the Technology Innovation Hub specializing in Positioning and Precision Technologies, funded through the National Mission on Interdisciplinary Cyber-Physical System (NM-ICPS), Department of Science and Technology, Government of India.</p></div>
       

             </div>
          </div>
       
 </section>

     <section id="#contact-us" class="container-lg">
<div class="container">
        <div class="d-md-flex flex-md-equal w-100 mb-md-3 pl-md-3">
           <div class="mr-md-3 overflow-hidden">
              <div class="py-3">
                 <h3 class="display-5 text-center section-title">Core Team & Contact Us <i class="fa fa-phone"></i></h3>
               
              </div>
             <div class="row mb-2">
              <div class="mx-auto text-center col-md-5 border" style="border-radius: 21px 21px 21px 21px; font-size: 12pt">
              <p><span><strong>Prof. Kannan Moudgalya</strong></span></p>
<p><span>P.I., FOSSEE</span></p>
<p><span>Indian Institute of Technology Bombay</span></p>
</div>
              <div class="mx-auto text-center col-md-5 border" style="border-radius: 21px 21px 21px 21px; font-size: 12pt">
              <p><span><strong>Prof. Pennan Chinnasamy</strong></span></p>
<p><span>Co.P.I., FOSSEE & PiC, The Rural Data Research & Analysis (RuDRA) Lab, IIT Bombay</span></p>
<p><span>Indian Institute of Technology Bombay</span></p>
</div>
              <div class="mx-auto text-center col-md-5 border" style="border-radius: 25px 25px 25px 25px; font-size: 12pt">
              <p><span><strong>Prof. Roshan Srivastav</strong></span></p>
<p><span>Project Director, IIT Tirupati Navavishkar I-Hub Foundation (NM-ICPS, DST)</span></p>
<p><span>Indian Institute of Technology Tirupati</span></p>
</div>
              <div class="mx-auto text-center col-md-5 border" style="border-radius: 21px 21px 21px 21px; font-size: 12pt">
              <p><span><strong>Mr. Rajesh Kushalkar</strong></span></p>
<p><span>Senior Manager, FOSSEE-Open Hardware</span></p>
<p><span>Indian Institute of Technology Bombay</span></p>
</div>
              <div class="mx-auto pb-1 text-center col-md-7 border" style="border-radius: 23px 23px 23px 23px; font-size: 11pt">
               <p><span><strong>Mr. Mohamed Kasim Khan</strong></sFor the core team page, should I add it in the home section or create a separate page?pan></p>
<p><span>National Coordinator, FOSSEE-GIS</span></p>
<p><span>National Mission on Education through ICT, Ministry of Education, Government of India</span></p>
<p><span>Indian Institute of Technology Bombay</span></p>
              </div>
            </div>

           </div>
        </div>
<p class="text-center">Please write to us in case of any queries regarding the Hackathon at:</p>
 <div class="mx-auto py-2 text-center"><h5> <i class="far fa-envelope"></i> Email :<a href="mailto:contact-oshw@fossee.in ">contact-oshw[at]fossee[dot]in </a></h5></div>
</div>
     </section>
</div>
