---
import Footer from '../pages/footer.astro';

interface Props {
	title: string;
	description?: string;
	image?: string;
}

const { title,description,image } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro desc" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/images/img" />
		<meta name="generator" content={Astro.generator} />

		<title>{title}</title>
	</head>
	<body class ="min-h-screen">
		<slot />
		<Footer/>
	</body>
</html>
